<div class="container-fluid p-0">
    <div class="card">
        <div class="card-header">
            Car Details
        </div>
        <div class="card-body form-container">
            <div class="row gy-4">
                <div class="col-sm-4" *ngFor="let carsdetails of carsdata; let i=index">
                    <div class="card p-0">
                        <div class="card-header p-0">
                            <img [src]="carsdetails.imageUrl" class="img-fluid">
                        </div>
                        <div class="card-body">
                            <div class="row gy-4">
                                <div class="col-sm-6">
                                    <div class="d-flex flex-column gap-0">
                                        <div class="form-label">Car's Brand</div>
                                        <div class="form-data">{{this.carsdetails.brand}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="d-flex flex-column gap-0">
                                        <div class="form-label">Car Name</div>
                                        <div class="form-data">{{this.carsdetails.name}} </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="d-flex flex-column gap-0">
                                        <div class="form-label">Price Description</div>
                                        <div class="form-data">{{this.carsdetails.pricingDescription}} </div>
                                    </div>
                                </div>
                                <div class="col-sm-auto">
                                    <button type="button" class="btn btn-primary form-label" data-bs-toggle="modal"
                                        (click)="getCarId(carsdetails.carId)" data-bs-target="#cardetails">
                                        <i class="fa fa-eye" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="card-body form-container" *ngIf="this.carsdata.length <= 0">
            <h1>No Car Registered for this location.</h1>
        </div> -->
    </div>
</div>



<!-- Modal -->
<div class="modal fade form-container" id="cardetails" tabindex="-1" aria-labelledby="cardetails" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Car Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" *ngIf="cardata">
                <div class="row">
                    <div class="col-sm-4">
                        <img [src]="cardata.imageUrl" alt="Car Image" class="img-fluid mb-3" />
                    </div>
                    <div class="col-sm">
                        <div class="row gy-4">
                            <div class="col-sm-6">
                                <div class="d-flex gap-2">
                                    <div class="form-label">Brand</div>
                                    <div class="form-data">- {{cardata.brand}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex gap-2">
                                    <div class="form-label">Name</div>
                                    <div class="form-data">- {{cardata.name}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex gap-2">
                                    <div class="form-label">Vehicle Number</div>
                                    <div class="form-data">- {{cardata.vehicleNo}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex gap-2"
                                    *ngFor="let acctype of cardata.zoomCarAccessoriess; let i=index">
                                    <div class="form-label">Type</div>
                                    <div class="form-data">- {{acctype.accessoriesTitle }}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex gap-2">
                                    <div class="form-label">Pricing Description</div>
                                    <div class="form-data">- {{cardata.pricingDescription}}</div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <a class="text-primary" data-bs-toggle="modal" data-bs-target="#bookthiscar"
                                    (click)="checkloggedIn()">Book this Car ?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<form [formGroup]="carbookingform" >
    <!-- Modal -->
    <div class="modal fade" id="bookthiscar" tabindex="-1" aria-labelledby="bookthiscarLabel" aria-hidden="true"
        *ngIf="this.isloggedin" #bookthiscardialog>
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Booking this Car</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="cardata">
                        <div class="row gy-4">
                            <div class="col-sm-4">
                                <img [src]="cardata.imageUrl" alt="Car Image" class="img-fluid mb-3" />
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex gap-2">
                                    <div class="form-label">Brand</div>
                                    <div class="form-data">- {{cardata.brand}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex gap-2">
                                    <div class="form-label">Name</div>
                                    <div class="form-data">- {{cardata.name}}</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="d-flex flex-column gap-2">
                                    <div class="form-label">Customer Name</div>
                                    <div class="form-data">- {{this.parsedUserId}} </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <select #locationRef class="form-select" aria-label="Default select example"
                                    formControlName="fromLocationId">
                                    <option selected>From Location</option>
                                    <option *ngFor="let location of getAlllocationsArray; let i=index"
                                        [value]="location.locationId">{{location.title}}, {{location.city}} </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select #locationRef class="form-select" aria-label="Default select example"
                                    formControlName="toLocationId">
                                    <option selected>To Location</option>
                                    <option *ngFor="let location of getAlllocationsArray; let i=index"
                                        [value]="location.locationId">{{location.title}}, {{location.city}} </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" formControlName="travelDate" placeholder="Travel Date">
                            </div>
                            <div class="col-sm-4">
                                <!-- <input type="text" class="form-control" formControlName="pickupAddress"> -->
                                  <select #locationRef class="form-select disabled" aria-label="Default select example"
                                    formControlName="pickupAddress">
                                    <option selected>From Location</option>
                                    <option *ngFor="let location of getAlllocationsArray; let i=index"
                                        [value]="location.city">{{location.title}}, {{location.city}} </option>
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" formControlName="alternateContactNo" placeholder="Alternate Contact No">
                            </div>
                            <div class="col-sm-4">
                                <input type="text " formControlName="invoiceNo" class="form-control"
                                    placeholder="Invoice No">
                            </div>
                        </div>
                    </div>                     
                </div>               
                <div class="modal-footer">
                    <button class="btn btn-secondary">Clear</button>
                    <button type="submit" class="btn btn-primary" (click)="bookCar()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</form>