<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ZOOM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <button class="btn btn-primary" (click)="openModal()">Register
                    </button>
                </li>
                <li>

                    <ng-container *ngIf="isLoggedIn && currentUser.userRole == 'Admin' ">
                        <ul id="accordionExample">
                            <li>
                                <a class="nav-link" data-bs-toggle="collapse" href="#bookings" role="button"
                                    aria-expanded="false" aria-controls="bookings">Bookings</a>
                                <div class="collapse" id="bookings" data-bs-parent="#accordionExample">
                                    <div class="card card-body">
                                        <ul>
                                            <li><a routerLink="/all-booking" class="text-decoration-none">All
                                                    Bookings</a></li>
                                            <li><a href="" class="text-decoration-none">Booking by Car</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a class="nav-link" data-bs-toggle="collapse" href="#location" role="button"
                                    aria-expanded="false" aria-controls="location">Locations</a>
                                <div class="collapse" id="location" data-bs-parent="#accordionExample">
                                    <div class="card card-body">
                                        <ul>
                                            <li><a href="" class="text-decoration-none">Get Locations</a></li>
                                            <li><a href="" class="text-decoration-none"
                                                    routerLink="/locationRegister">Add Locations</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <a class="nav-link" data-bs-toggle="collapse" href="#vehicle" role="button"
                                    aria-expanded="false" aria-controls="vehicle">Vehicle</a>
                                <div class="collapse" id="vehicle" data-bs-parent="#accordionExample">
                                    <div class="card card-body">
                                        <ul>
                                            <li><a routerLink="/vehicles" class="text-decoration-none">Get Vehicles</a>
                                            </li>
                                            <li><a href="" class="text-decoration-none">Add Vehicles</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </ng-container>
                </li>

                <li class="nav-item" *ngIf="isLoggedIn">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{this.currentUser.emailId}}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" (click)="logout()"> Logout </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>



<!-- login / register modal -->
<form [formGroup]="registerform">
    <div class="modal" #loginmodal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{register ? 'Registration Form' : ' Login Form
                        '}} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="row" *ngIf="register">
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="name">
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="email">
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="mobileno">
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Password</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="password">
                        </div>
                    </div>

                    <div class="row" *ngIf="!register">
                        <form [formGroup]="loginform" (ngSubmit)="login()">
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="name">
                            </div>
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="mobileno">
                            </div>
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="email">
                            </div>
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Password</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="password">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="register">
                        <a (click)="register = !register">Login</a>
                    </div>
                    <div *ngIf="!register">
                        <a (click)="register = !register">Register</a>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" (click)=" register ? submit() : login() ">{{register ?
                        'Register ' : 'Login'}} </button>
                </div>
            </div>
        </div>
    </div>
</form>