<nav class="navbar navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ZOOM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item" *ngIf="!isLoggedIn">
                    <button class="btn btn-primary" (click)="openModal()">Register
                    </button>
                </li>
                <ng-container *ngIf="isLoggedIn && currentUser.userRole == 'Admin' ">
                    <li><a class="nav-link ">Bookings</a></li>
                    <li><a class="nav-link ">Locations</a></li>
                    <li><a class="nav-link ">Add Vehicle</a></li>
                </ng-container>
                <li class="nav-item" *ngIf="isLoggedIn">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{this.currentUser.emailId}}
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" (click)="logout()"> Logout </a>
                            </li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>



<!-- login / register modal -->
<form [formGroup]="registerform">
    <div class="modal" #loginmodal id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{register ? 'Registration Form' : ' Login Form
                        '}} </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                        (click)="closeModal()"></button>
                </div>
                <div class="modal-body">
                    <div class="row" *ngIf="register">
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="name">
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" formControlName="email">
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="mobileno">
                        </div>
                        <div class="col-sm-12">
                            <label for="exampleInputEmail1" class="form-label">Password</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="password">
                        </div>
                    </div>

                    <div class="row" *ngIf="!register">
                        <form [formGroup]="loginform" (ngSubmit)="login()">
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Name</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="name">
                            </div>
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Mobile Number</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="mobileno">
                            </div>
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="email">
                            </div>
                            <div class="col-sm-12">
                                <label for="exampleInputEmail1" class="form-label">Password</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" formControlName="password">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <div *ngIf="register">
                        <a (click)="register = !register">Login</a>
                    </div>
                    <div *ngIf="!register">
                        <a (click)="register = !register">Register</a>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" (click)=" register ? submit() : login() ">{{register ?
                        'Register ' : 'Login'}} </button>
                </div>
            </div>
        </div>
    </div>
</form>