<div class="container-fluid">
    <div class="card">
        <div class="card-header">Location Register</div>
        <div class="card-body">
            <form [formGroup]="locationform" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" formControlName="city" placeholder="city">
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" formControlName="title" placeholder="title">
                    </div>
                    <div class="col-sm-3">
                        <input class="form-control" type="text" formControlName="pincode" placeholder="pincode">
                    </div>
                    <div class="col-sm-3">
                        <button class="form-control" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>